@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/script.js"></script>
    <title>2rism</title>
</head>
<body>
    <div class="push-main-page">
        <form class="push-messanger-page">
            <p class="textMAIN-push-page">Введите данные</p>
            <p class="textsignin-push-page">Ваша эл. почта будет использоваться для входа в аккаунт</p>
            <div class="input-text" style="display: flex;">
                <img src="/resources/icon-email.png" style="padding: 15px">
                <input id="email" class="inputtt" placeholder="email@mail.ru">
            </div>
            <div class="input-text" style="display: flex; margin-top: 10px;">
                <img src="/resources/name-surname.png" style="padding: 15px">
                <input id="name" class="inputtt" placeholder="Имя">
            </div>
            <div class="input-text" style="display: flex; margin-top: 10px;">
                <img src="/resources/name-surname.png" style="padding: 15px">
                <input id="surname" class="inputtt" placeholder="Фамилия">
            </div>
            <input type="button" class="butt-sigh-in" value="Продолжить" onclick="RegistrationFirst(this.form.email.value, this.form.name.value, this.form.surname.value)"/>
        </form>
    </div>
</body>
</html>